@{
    ViewBag.Title = "CleytonFerrari.com";
}

<h2>Exemplo de Uso do Rotativa W7</h2>

<pre>Para utilizar o Rotativa W7, você deve instalar o pacote via nuget: PM> Install-Package RotativaW7</pre>

<ul>
    <li>
        @Html.ActionLink("Modelo usado em Html", "ModeloHTML", "Relatorios")
    </li>
    <li>
        @Html.ActionLink("PDF Padrão", "PDFPadrao", "Relatorios")
    </li>
    <li>
        @Html.ActionLink("PDF Configurado", "PDFConfigurado", "Relatorios")
    </li>
    <li>
        @Html.ActionLink("PDF com Model", "PDFComModel", "Relatorios")
    </li>
</ul>

<em><a href="http://cleytonferrari.com/gerando-relatorios-em-pdf-com-rotativa-w7/">Mais informações sobre o Rotativa W7</a></em>
