@import url(reset.css);
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
#container{
	
}

#cabecalho {
	border-bottom: 2px solid #c3c3c3;
	display: table;
	width: 100%;
	margin-bottom: 20px;
}
#cabecalho #nome{
	float: left;
	width: 49%;
	overflow: hidden;
	
}
#cabecalho #unidade{
	float: right;
	width: 49%;
	overflow: hidden;
}

#nome h1{
	font-size: 22px;
	font-weight:bold;	
	text-align: center;
}

#unidade h2, #unidade h3, #unidade h4{
	text-align: right;
	color: #555;
	line-height: 20px;
}

#unidade h2{
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
}


#unidade h4{
	font-weight: bold;
	font-size: 15px;
}

#rodape {
	border-top: 2px solid #c3c3c3;
	margin-top: 20px;
}

#rodape p{
	color: #555;
	text-align: center;
	margin-top: 5px;
}

#rodape p span{
	font-weight: bold;
	margin-right: 55px;	
}

.linha{
	width: 100%;
	display: table;
	border-left: 2px solid #c3c3c3;
	margin: 8px 0;
	padding: 0 5px;
}

.linha p{
	float: left;
	margin: 5px 25px 5px 5px;
	font-size:14px;
	color: #555;
}
.linha p span{
	font-size: 18px;
	color: #222;
	line-height: 22px;
}

table{
	width: 100%;
	border-collapse: collapse;
	text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
table th
{
	color: #222;
	font-weight: bold;
	padding: 5px 4px;
	border-bottom: 2px solid #444;
	background-color: #e0e0e0;
}
table tfoot td {
    border-top: 2px solid #444;
}

table td
{
	color: #222;
	padding: 4px 8px 4px 8px;
}
table .odd
{
	background: #eeffff; 
}

.bold{
	font-weight: bold;
}
.fonte10 {
    font-size: 10px;
}

.border-bottom {
    border-bottom: 2px solid #444;
}
.border-top {
    border-top: 2px solid #444;
}

table .italico{
	font-style: italic;
	font-size: 14px;
}

table .aling-right {
    text-align: right
}